@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


body {
    font-family: 'Pixelify Sans', cursive;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
